/* intro.html(헬스장 소개) 전용css */
/* header */
header {
    width: 100%;
    position: relative;
    background-color: black;
}
header .text {
    width: 100vw;
    padding: 30px 50px;
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
header .text h1 {}
header .text h1 a {
    color: white;
    font-family: Gugi;
    font-size: 1.875rem;
}
header .text h1 a img {width: 50px;}
header .text nav {}
header .text nav .click {color: yellow;}
header .text nav a {
    color: white;
    margin-left: 20px;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: 1.5;
}
header .image {}
header .image img {width: 100vw; height: 40vh;}

/* main */
main {
    background-color: black;
    font-family: 'Noto Sans KR';
}
main .intro {}
main .intro h1 {
    padding: 100px 0 0;
    color: yellow;
    font-size: 1.875rem;
    font-weight: 700;
    text-align: center;
}
main .intro h1 em {
    font-family: Gugi;
    font-size: 1.875rem;
    color: yellow;
}
main .intro .intro_contents {
    padding: 0 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
main .intro .intro_contents li {
    width: 500px; height: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
main .intro .intro_contents li img {
    width: 400px; height: 400px;
    margin-bottom: 10px;
}
main .intro .intro_contents li span {
    color: yellow;
    font-weight: 500;
    font-size: 1.25rem;
}
main .center_intro {}
main .center_intro h1 {
    padding: 100px 0 30px;
    color: yellow;
    font-size: 1.875rem;
    font-weight: 700;
    text-align: center;
}
main .center_intro .center_photo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
main .center_intro .center_photo a {
    color: yellow;
    font-size: 6.25rem;
}
main .center_intro .center_photo img {
    width: 400px; height: 300px;
}
main .map {text-align: center;}
main .map h1 {
    padding: 100px 0 30px;
    color: yellow;
    font-size: 1.875rem;
    font-weight: 700;
}
main .map .center_map {}
main .map .center_map img {}
main .map p {
    padding: 20px 0;
    color: yellow;
    font-weight: 500;
    font-size: 1.25rem;
}