/* pt.html(PT 상담) 전용css */
/* header */
header {
    width: 100%;
    position: relative;
    background-color: black;
}
header .text {
    width: 100vw;
    padding: 30px 50px;
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
header .text h1 {}
header .text h1 a {
    color: white;
    font-family: Gugi;
    font-size: 1.875rem;
}
header .text h1 a img {width: 50px;}
header .text nav {}
header .text nav .click {color: yellow;}
header .text nav a {
    color: white;
    margin-left: 20px;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: 1.5;
}
header .image {}
header .image img {width: 100vw; height: 40vh;}

/* main */
main {
    font-family: 'Noto Sans KR';
}
main .trainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
main .trainer h1 {
    padding: 50px 0;
    color: yellow;
    font-size: 1.875rem;
    font-weight: 700;
}
main .trainer .tr_contents {
    width: 800px; height: 300px;
    background-color: yellow;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
main .trainer .tr_contents .tr_photo {}
main .trainer .tr_contents .tr_photo img {width: 300px; height: 300px;}
main .trainer .tr_contents .tr_info {margin-left: 50px;}
main .trainer .tr_contents .tr_info h2 {
    margin-bottom: 20px;
    font-size: 1.25rem;
    font-weight: 700;
}
main .trainer .tr_contents .tr_info ul {}
main .trainer .tr_contents .tr_info ul li {}
main .consulting {}
main .consulting h1 {
    padding: 100px 0 50px;
    color: yellow;
    font-size: 1.875rem;
    font-weight: 700;
}
main .price {}
main .price h1 {
    padding-top: 100px;
    color: yellow;
    font-size: 1.875rem;
    font-weight: 700;
}
main .price #pt_price {
    width: 40%;
    margin: 50px auto 0;
}
main .price #pt_price thead {border-bottom: 2px solid black;}
main .price #pt_price thead tr {}
main .price #pt_price thead tr th {padding: 20px;}
main .price #pt_price thead tr th :nth-child(1) {width: 100px;}
main .price #pt_price tbody {}
main .price #pt_price tbody tr {}
main .price #pt_price tbody tr th {}
main .price #pt_price tbody tr td {padding: 10px;}
main .price #pt_price tbody tr td del {}
main .consulting form {background-color: lime;}
/* main .consulting form fieldset {}
main .consulting form fieldset .pt_consulting {border: 1px solid white;}
main .consulting form fieldset .pt_consulting thead {}
main .consulting form fieldset .pt_consulting thead tr {}
main .consulting form fieldset .pt_consulting thead tr th {}
main .consulting form fieldset .pt_consulting tbody {}
main .consulting form fieldset .pt_consulting tbody tr {}
main .consulting form fieldset .pt_consulting tbody tr th {}
main .consulting form fieldset .pt_consulting tbody tr td {}
main .consulting form fieldset .pt_consulting tbody tr td .user_name {}
main .consulting form fieldset .pt_consulting tbody tr td .user_tel {}
main .consulting form fieldset .pt_consulting tbody tr td .user_q {}
main .consulting form fieldset button {} */