/* header */
header {
    width: 100%;
    position: relative;

}
header .text {
    width: 100vw;
    padding: 30px 50px;
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
header .text h1 {}
header .text h1 a {
    color: white;
    font-family: Gugi;
    font-size: 1.875rem;
}
header .text h1 a img {width: 50px;}
header .main_text {
    color: white;
    position: absolute;
    text-align: center;
    padding: 30%;
}
header .text nav {}
header .text nav a {
    color: white;
    margin-left: 20px;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: 1.5;
}
header .video {}
header .video video {width: 100%}

/* main */

/* footer */
footer {
    background-color: yellow;
    padding: 20px 50px;
}
footer h3 {
    font-family: Gugi;
    margin-bottom: 10px;
}
footer h3 img {width: 50px;}
footer .copyright {font-family: 'Noto Sans KR';}